{% extends "remapp/filteredbase.html" %}

{% block navdx %}<li class="active">{% endblock %}

{% block toprow %}
    {% load pagination_tags %}

    <p>
        There are {{ filter.count }} studies in this list.
    </p>

{% endblock %}

{% block col2 %}
    <div class="panel panel-info small">
        <div class="panel-heading">
            <h3 class="panel-title">Data export</h3>
        </div>
        <div class="panel-body">
            {% if admin.exportgroup %}
                <p><strong>Note:</strong> Apply the exam filter first to refine what is exported.</p>
                <p>
                    <a href="/openrem/exportdxcsv1/0/0/?{{ request.GET.urlencode }}"
                       class="btn btn-default btn-sm" role="button">Export to CSV&nbsp;</a>
                    {% if admin.pidgroup %}
                        <a href="/openrem/exportdxcsv1/1/0/?{{ request.GET.urlencode }}"
                           class="btn btn-default btn-sm" role="button">With names</a>
                        <a href="/openrem/exportdxcsv1/0/1/?{{ request.GET.urlencode }}"
                           class="btn btn-default btn-sm" role="button">With ID</a>
                        <a href="/openrem/exportdxcsv1/1/1/?{{ request.GET.urlencode }}"
                           class="btn btn-default btn-sm" role="button">With both</a>
                        </p>
                        <p>
                    {% endif %}
                    <a href="/openrem/exportdxxlsx1/0/0/?{{ request.GET.urlencode }}"
                       class="btn btn-default btn-sm" role="button">Export to XLSX</a>
                    {% if admin.pidgroup %}
                        <a href="/openrem/exportdxxlsx1/1/0/?{{ request.GET.urlencode }}"
                           class="btn btn-default btn-sm" role="button">With names</a>
                        <a href="/openrem/exportdxxlsx1/0/1/?{{ request.GET.urlencode }}"
                           class="btn btn-default btn-sm" role="button">With ID</a>
                        <a href="/openrem/exportdxxlsx1/1/1/?{{ request.GET.urlencode }}"
                           class="btn btn-default btn-sm" role="button">With both</a>
                    {% endif %}
                    </p>

            {% else %}
                <p>
                    No export permissions
                </p>
            {% endif %}

        </div>
    </div>

    {{ studyfilter }}

    <form action="{% url "dx_summary" %}" method="get" class="form-horizontal" role="form" id="examFilterForm">
        <div class="panel panel-info small">
            <div class="panel-heading">
                <h3 class="panel-title">Exam filter</h3>
            </div>
            <div class="panel-body">
                <i>Date format yyyy-mm-dd</i>
                {% for field in filter.form.visible_fields %}
                    <div class="form-group">
                        <div class="col-xs-4">
                            <label>{{ field.label_tag }}</label>
                        </div>
                        <div class="col-xs-8">
                            {{ field.errors }}
                            {{ field }}
                        </div>
                    </div>
                {% endfor %}
                {% for field in filter.form.hidden_fields %}
                    <div style="display:none">{{ field }}</div>
                {% endfor %}
                <input class="btn btn-default" name="submit" type="submit" />

            </div>
            <div class="panel-heading">
                <h3 class="panel-title">Chart options</h3>
            </div>
            <div class="panel-body">
                <table>
                    {% csrf_token %}
                    {{ chartOptionsForm }}
                </table>
                <input class="btn btn-default" name="submit" type="submit" id="examFilterFormSubmit" />

            </div>
        </div>
    </form>

    <script src="{{ STATIC_URL }}js/datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/formatDate.js"></script>

{% endblock %}

{% block col1 %}
    {% autopaginate filter.qs 50 as filter_list %}
    {% paginate %}

    <table class="table table-bordered table-hover row-clickable small">
        <row>
            <th>Institution</th>
            <th>
                <table>
                    <tr><td>Make</td></tr>
                    <tr><td>Model</td></tr>
                    <tr><td class="nowrap">Display name</td></tr>
                </table>
            </th>
            <th>Date</th>
            <th>
                <table>
                    <tr><td class="nowrap">Study description</td></tr>
                    <tr><td class="nowrap">Requested procedure</td></tr>
                    <tr><td class="nowrap">Accession number</td></tr>
                </table>
            </th>
            <th>Number of events</th>
            <th>Total DAP (cGy.cm<sup>2</sup>)</th>
            {% if admin.admingroup %}
                <th>Delete?</th>
            {% endif %}
        </row>
        {% for exam in filter_list %}
            <tr>
                <td>
                    <a href="/openrem/dx/{{ exam.id }}/">
                        {{ exam.generalequipmentmoduleattr_set.get.institution_name }}
                    </a>
                </td>
                <td>
                    <a href="/openrem/dx/{{ exam.id }}/">
                        <table onclick="window.location='/openrem/dx/{{ exam.id }}/';">
                            <tr><td class="nowrap">{{ exam.generalequipmentmoduleattr_set.get.manufacturer }}</td></tr>
                            <tr><td class="nowrap">{{ exam.generalequipmentmoduleattr_set.get.manufacturer_model_name }}</td></tr>
                            <tr><td class="nowrap">{{ exam.generalequipmentmoduleattr_set.get.unique_equipment_name.display_name }}</td></tr>
                        </table>
                    </a>
                </td>
                <td>
                    <a href="/openrem/dx/{{ exam.id }}/">
                        {{ exam.study_date|date:"Y-m-d" }} {{ exam.study_time|date:"H:i" }}
                    </a>
                </td>
                <td>
                    <a href="/openrem/dx/{{ exam.id }}/">
                        <table onclick="window.location='/openrem/dx/{{ exam.id }}/';">
                            <tr><td class="nowrap">{{ exam.study_description }}</td></tr>
                            <tr><td class="nowrap">{{ exam.requested_procedure_code_meaning }}</td></tr>
                        {% if not exam.accession_hashed %}
                            <tr><td class="nowrap">{{ exam.accession_number }}</td></tr>
                        {% endif %}
                        </table>
                    </a>
                </td>
                <td>
                    <a href="/openrem/dx/{{ exam.id }}/">
                        {{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.total_number_of_radiographic_frames }}
                    </a>
                </td>
                <td>
                    <a href="/openrem/dx/{{ exam.id }}/">
                        {{ exam.projectionxrayradiationdose_set.get.accumxraydose_set.get.accumintegratedprojradiogdose_set.get.convert_gym2_to_cgycm2 | floatformat:1 }}
                    </a>
                </td>
                {% if admin.admingroup %}
                    <td>
                        <a href="{% url 'study_delete' exam.id %}">Delete</a>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    {% paginate %}
{% endblock %}

{% block plotdata %}
    {% if request.user.userprofile.plotCharts %}

        <script src="{{ STATIC_URL }}js/chartFullScreen.js"></script>
        <script src="{{ STATIC_URL }}js/chartSetExportSize.js"></script>
        <script src="{{ STATIC_URL }}js/chroma.min.js"></script>
        <script src="{{ STATIC_URL }}js/chartUpdateData.js"></script>

        <div class="ajax-progress"><img src="{{ STATIC_URL }}img/ajax-loader.gif"></div>

        <!-- Include JavaScript to enable highcharts plots -->
        <script src="{{ STATIC_URL }}js/highcharts.js"></script>
        <script src="{{ STATIC_URL }}js/boost.js"></script>
        <script src="{{ STATIC_URL }}js/exporting.js"></script>
        <script src="{{ STATIC_URL }}js/offline-exporting.js"></script>
        <script src="{{ STATIC_URL }}js/export-csv.js"></script>
        <script src="{{ STATIC_URL }}js/drilldown.js"></script>
        <script src="{{ STATIC_URL }}js/chartSortingRoutines.js"></script>
        <script src="{{ STATIC_URL }}js/chartHistogramNormalise.js"></script>
        <script src="{{ STATIC_URL }}js/chartAverageAndHistogram.js"></script>
        <script src="{{ STATIC_URL }}js/chartAverageOverTime.js"></script>
        <script src="{{ STATIC_URL }}js/chartFrequency.js"></script>
        <script src="{{ STATIC_URL }}js/chartWorkload.js"></script>
        <script>
            var chartSorting = '{{ request.user.userprofile.plotDXInitialSortingChoice }}';
            var chartSortingDirection = {{ request.user.userprofile.plotInitialSortingDirection }};

            var def_title, norm_btn_class, instr_class, render_div, val_label, val_units, avg_label, cat_label, cat_counter,
                    field_name_min, field_name_max, field_multiplier, field_cat_name, tooltip_filters, href_start, result;
        </script>
        <!-- End of include JavaScript for the plots -->

        <!-- JavaScript to enable bootstrap tooltips -->
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <!-- End of JavaScript to enable bootstrap tooltips -->

        <!-- JavaScript function to sort a list of objects by the 'y' or 'name' object. -->
        <script src="{{ STATIC_URL }}js/sorting.js"></script>
        <!-- End of JavaScript function to sort a list of objects by the 'y' or 'name' object -->

        <!-- JavaScript chart AJAX code. -->
        <script src="{{ STATIC_URL }}js/dxChartAjax.js"></script>
        <!-- End of JavaScript chart AJAX code. -->

        <script>var plotDXAcquisitionMeanDAPOverTimePeriod = '{{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}';</script>

        <script>var plotAverageChoice = '{{ request.user.userprofile.plotAverageChoice }}';</script>

        {% if request.user.userprofile.plotDXAcquisitionFreq or request.user.userprofile.plotDXAcquisitionMeankVpOverTime or request.user.userprofile.plotDXAcquisitionMeanmAsOverTime or request.user.userprofile.plotDXAcquisitionMeanDAPOverTime%}
            <script>
                var urlStartAcq = '/openrem/dx/?{% for field in filter.form %}{% if field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&acquisition_protocol=';
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionMeanDAP %}
            <!-- HTML to include div container for acquisition plot -->
            <div class="panel-group" id="accordion1">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" onclick="setTimeout(function() {fitChartToDiv('container');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Plot of mean DAP for each acquisition protocol.
                                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                                    Plot of median DAP for each acquisition protocol.
                                {% else %}
                                    Plot of mean and median DAP for each acquisition protocol.
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="container" style="height: auto; margin: 0 0"></div>

                            <div class="acq-instructions">
                                <table style="border:none">
                                    <tr>
                                        <th colspan="3" style="padding: 0px; padding-right: 10px; vertical-align: top">Sorting options</th>
                                        <td rowspan="3" style="padding-left: 20px; vertical-align: top">
                                            {% if request.user.userprofile.plotHistograms %}
                                            Click on an individual column to show a histogram of data for that acquisition protocol.<br>
                                            Click on a histogram bin tooltip to see the studies that contain the acquisitions in the bin. Note that
                                            this will include acquisitions at the upper bin boundary, so in some cases may display more data than
                                            shown in the histogram bin.
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#container', 'avg_value', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending DAP">&uarr;DAP</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#container', 'total_counts', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending frequency">&uarr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#container', 'name', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort alphabetically">A&nbsp;to&nbsp;Z</a></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#container', 'avg_value', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending DAP">&darr;DAP</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#container', 'total_counts', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending frequency">&darr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#container', 'name', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort reverse alphabetically">Z&nbsp;to&nbsp;A</a></td>
                                    </tr>
                                </table>
                            </div>
                            <a onclick="enterFullScreen('collapseOne','container')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                            <a onclick="$('#container').highcharts().zoomOut();" class="btn btn-default btn-sm" role="button">Reset zoom</a>
                            <div class="acq-hist-norm-btn"><a onclick="normaliseHistograms('#container')" class="btn btn-default btn-sm" role="button">Toggle normalised histograms</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div for acquisition plot -->

            <script>
                var plotDXAcquisitionMeanDAP = true;
                $(window).resize(function() {
                    chartSetExportSize('container');
                    fitChartToDiv('container');
                });
                var tooltipFilters = '{% for field in filter.form %}{% if field.name != 'acquisition_dap_min' and field.name != 'acquisition_dap_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
                norm_btn_class = '.acq-hist-norm-btn';
                instr_class = '.acq-instructions';
                render_div = 'container';
                val_label = 'DAP';
                val_units = 'cGy.cm<sup>2</sup>';
                cat_label = 'Acquisition protocol';
                cat_counter = 'exposures';
                field_name_min = 'acquisition_dap_min';
                field_name_max = 'acquisition_dap_max';
                field_multiplier = 0.000001;
                field_cat_name = 'acquisition_protocol';
                tooltip_filters = tooltipFilters;
                href_start = '/openrem/dx/?acquisitionhist=1&';

            {% if request.user.userprofile.plotAverageChoice == 'both' %}
                avg_label = 'Mean and median';
            {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
                avg_label = 'Mean';
            {% else %}
                avg_label = 'Median';
            {% endif %}

                def_title = avg_label + ' ' + val_label + ' per ' + cat_label.toLowerCase();
                result = chartAverageAndHistogram(def_title, norm_btn_class, instr_class, render_div, val_label,
                        val_units, avg_label, cat_label, cat_counter, field_name_min, field_name_max, field_multiplier,
                        field_cat_name, tooltip_filters, href_start);
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionFreq %}
            <!-- HTML to include div container for acquisition pie chart -->
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion2" href="#collapseProtocolPieChart" onclick="setTimeout(function() {fitChartToDiv('piechartProtocolDIV');}, 0);">
                                Pie chart showing a breakdown of acquisition protocol frequency.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseProtocolPieChart" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="piechartProtocolDIV" style="height: auto; margin: 0 0"></div>
                            <a onclick="enterFullScreen('collapseProtocolPieChart', 'piechartProtocolDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for acquisition pie chart -->

            <script>
                var plotDXAcquisitionFreq = true;
                $(window).resize(function() {
                    chartSetExportSize('piechartProtocolDIV');
                    fitChartToDiv('piechartProtocolDIV');
                });
                result = chartFrequency('piechartProtocolDIV', 'Acquisition protocol frequency');
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXRequestMeanDAP %}
            <!-- HTML to include div container for requested procedure plot -->
            <div class="panel-group" id="plotDXRequestMeanDAPAccordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#plotDXRequestMeanDAPAccordion" href="#collapsePlotDXRequestMeanDAPAccordion" onclick="setTimeout(function() {fitChartToDiv('plotDXRequestMeanDAPContainer');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Plot of mean DAP for each requested procedure name.
                                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                                    Plot of median DAP for each requested procedure name.
                                {% else %}
                                    Plot of mean and median DAP for each requested procedure name.
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapsePlotDXRequestMeanDAPAccordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="plotDXRequestMeanDAPContainer" style="height: auto; margin: 0 0"></div>

                            <div class="req-instructions">
                                <table style="border:none">
                                    <tr>
                                        <th colspan="3" style="padding: 0px; padding-right: 10px; vertical-align: top">Sorting options</th>
                                        <td rowspan="3" style="padding-left: 20px; vertical-align: top">
                                            {% if request.user.userprofile.plotHistograms %}
                                            Click on an individual column to show a histogram of data for that requested procedure name.<br>
                                            Click on a histogram bin tooltip to see the studies that contain the requested procedure names in the bin. Note that
                                            this will include requested procedures at the upper bin boundary, so in some cases may display more data than
                                            shown in the histogram bin.
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXRequestMeanDAPContainer', 'avg_value', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending DLP">&uarr;DAP</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXRequestMeanDAPContainer', 'total_counts', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending frequency">&uarr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#plotDXRequestMeanDAPContainer', 'name', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort alphabetically">A&nbsp;to&nbsp;Z</a></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXRequestMeanDAPContainer', 'avg_value', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending DAP">&darr;DAP</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXRequestMeanDAPContainer', 'total_counts', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending frequency">&darr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#plotDXRequestMeanDAPContainer', 'name', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort reverse alphabetically">Z&nbsp;to&nbsp;A</a></td>
                                    </tr>
                                </table>
                            </div>
                            <a onclick="enterFullScreen('collapsePlotDXRequestMeanDAPAccordion','plotDXRequestMeanDAPContainer')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                            <a onclick="$('#plotDXRequestMeanDAPContainer').highcharts().zoomOut();" class="btn btn-default btn-sm" role="button">Reset zoom</a>
                            <div class="req-hist-norm-btn"><a onclick="normaliseHistograms('#plotDXRequestMeanDAPContainer')" class="btn btn-default btn-sm" role="button">Toggle normalised histograms</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div for requested procedure name plot -->

            <script>
                var plotDXRequestMeanDAP = true;
                $(window).resize(function() {
                    chartSetExportSize('plotDXRequestMeanDAPContainer');
                    fitChartToDiv('plotDXRequestMeanDAPContainer');
                });
                var tooltipFiltersRequest = '{% for field in filter.form %}{% if field.name != 'requested_procedure_code_meaning' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
                norm_btn_class = '.req-hist-norm-btn';
                instr_class = '.req-instructions';
                render_div = 'plotDXRequestMeanDAPContainer';
                val_label = 'DAP';
                val_units = 'cGy.cm<sup>2</sup>';
                cat_label = 'Requested procedure';
                cat_counter = 'requests';
                field_name_min = 'study_dap_min';
                field_name_max = 'study_dap_max';
                field_multiplier = 1.0;
                field_cat_name = 'requested_procedure';
                tooltip_filters = tooltipFiltersRequest;
                href_start = '/openrem/dx/?acquisitionhist=1&';

            {% if request.user.userprofile.plotAverageChoice == 'both' %}
                avg_label = 'Mean and median';
            {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
                avg_label = 'Mean';
            {% else %}
                avg_label = 'Median';
            {% endif %}

                def_title = avg_label + ' ' + val_label + ' per ' + cat_label.toLowerCase();
                result = chartAverageAndHistogram(def_title, norm_btn_class, instr_class, render_div, val_label,
                        val_units, avg_label, cat_label, cat_counter, field_name_min, field_name_max, field_multiplier,
                        field_cat_name, tooltip_filters, href_start);
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXRequestFreq %}
            <!-- HTML to include div container for requested procedure name pie chart -->
            <div class="panel-group" id="accordionPiechartRequest">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionPiechartRequest" href="#collapseRequestPieChart" onclick="setTimeout(function() {fitChartToDiv('piechartRequestDIV');}, 0);">
                                Pie chart showing a breakdown of requested procedure name frequency.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseRequestPieChart" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="piechartRequestDIV" style="height: auto; margin: 0 0"></div>
                            <a onclick="enterFullScreen('collapseRequestPieChart', 'piechartRequestDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for requested procedure name pie chart -->

            <script>
                var plotDXRequestFreq = true;
                $(window).resize(function() {
                    chartSetExportSize('piechartRequestDIV');
                    fitChartToDiv('piechartRequestDIV');
                });
                var urlStartReq = '/openrem/dx/?{% for field in filter.form %}{% if field.name != 'requested_procedure_code_meaning' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&requested_procedure_code_meaning=';
                result = chartFrequency('piechartRequestDIV', 'Requested procedure frequency');
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXStudyMeanDAP %}
            <!-- HTML to include div container for study plot -->
            <div class="panel-group" id="plotDXStudyMeanDAPAccordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#plotDXStudyMeanDAPAccordion" href="#collapsePlotDXStudyMeanDAPAccordion" onclick="setTimeout(function() {fitChartToDiv('plotDXStudyMeanDAPContainer');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Plot of mean DAP for each study description.
                                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                                    Plot of median DAP for each study description.
                                {% else %}
                                    Plot of mean and median DAP for each study description.
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapsePlotDXStudyMeanDAPAccordion" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="plotDXStudyMeanDAPContainer" style="height: auto; margin: 0 0"></div>

                            <div class="stu-instructions">
                                <table style="border:none">
                                    <tr>
                                        <th colspan="3" style="padding: 0px; padding-right: 10px; vertical-align: top">Sorting options</th>
                                        <td rowspan="3" style="padding-left: 20px; vertical-align: top">
                                            {% if request.user.userprofile.plotHistograms %}
                                            Click on an individual column to show a histogram of data for that study description.<br>
                                            Click on a histogram bin tooltip to see the studies that contain the study names in the bin. Note that
                                            this will include studies at the upper bin boundary, so in some cases may display more data than
                                            shown in the histogram bin.
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXStudyMeanDAPContainer', 'avg_value', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending DLP">&uarr;DAP</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXStudyMeanDAPContainer', 'total_counts', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending frequency">&uarr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#plotDXStudyMeanDAPContainer', 'name', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort alphabetically">A&nbsp;to&nbsp;Z</a></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXStudyMeanDAPContainer', 'avg_value', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending DAP">&darr;DAP</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#plotDXStudyMeanDAPContainer', 'total_counts', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending frequency">&darr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#plotDXStudyMeanDAPContainer', 'name', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort reverse alphabetically">Z&nbsp;to&nbsp;A</a></td>
                                    </tr>
                                </table>
                            </div>
                            <a onclick="enterFullScreen('collapsePlotDXStudyMeanDAPAccordion','plotDXStudyMeanDAPContainer')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                            <a onclick="$('#plotDXStudyMeanDAPContainer').highcharts().zoomOut();" class="btn btn-default btn-sm" role="button">Reset zoom</a>
                            <div class="stu-hist-norm-btn"><a onclick="normaliseHistograms('#plotDXStudyMeanDAPContainer')" class="btn btn-default btn-sm" role="button">Toggle normalised histograms</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div for study name plot -->

            <script>
                var plotDXStudyMeanDAP = true;
                $(window).resize(function() {
                    chartSetExportSize('plotDXStudyMeanDAPContainer');
                    fitChartToDiv('plotDXStudyMeanDAPContainer');
                });
                var tooltipFiltersStudy = '{% for field in filter.form %}{% if field.name != 'study_description' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
                norm_btn_class = '.stu-hist-norm-btn';
                instr_class = '.stu-instructions';
                render_div = 'plotDXStudyMeanDAPContainer';
                val_label = 'DAP';
                val_units = 'cGy.cm<sup>2</sup>';
                cat_label = 'Study description';
                cat_counter = 'studies';
                field_name_min = 'study_dap_min';
                field_name_max = 'study_dap_max';
                field_multiplier = 1.0;
                field_cat_name = 'study_description';
                tooltip_filters = tooltipFiltersStudy;
                href_start = '/openrem/dx/?acquisitionhist=1&';

            {% if request.user.userprofile.plotAverageChoice == 'both' %}
                avg_label = 'Mean and median';
            {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
                avg_label = 'Mean';
            {% else %}
                avg_label = 'Median';
            {% endif %}

                def_title = avg_label + ' ' + val_label + ' per ' + cat_label.toLowerCase();
                result = chartAverageAndHistogram(def_title, norm_btn_class, instr_class, render_div, val_label,
                        val_units, avg_label, cat_label, cat_counter, field_name_min, field_name_max, field_multiplier,
                        field_cat_name, tooltip_filters, href_start);
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXStudyFreq %}
            <!-- HTML to include div container for study name pie chart -->
            <div class="panel-group" id="accordionPiechartStudy">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordionPiechartStudy" href="#collapseStudyPieChart" onclick="setTimeout(function() {fitChartToDiv('piechartStudyDIV');}, 0);">
                                Pie chart showing a breakdown of study name frequency.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseStudyPieChart" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="piechartStudyDIV" style="height: auto; margin: 0 0"></div>
                            <a onclick="enterFullScreen('collapseStudyPieChart', 'piechartStudyDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for study name pie chart -->

            <script>
                var plotDXStudyFreq = true;
                $(window).resize(function() {
                    chartSetExportSize('piechartStudyDIV');
                    fitChartToDiv('piechartStudyDIV');
                });
                var urlStartStudy = '/openrem/dx/?{% for field in filter.form %}{% if field.name != 'study_description' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}&study_description=';
                result = chartFrequency('piechartStudyDIV', 'Study description frequency');
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionMeankVp %}
            <!-- HTML to include div container for mean kVp per acquisition chart -->
            <div class="panel-group" id="accordion3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion3" href="#collapseAcquisitionMeankVpChart" onclick="setTimeout(function() {fitChartToDiv('chartAcquisitionMeankVp');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Plot of mean kVp for each acquisition protocol.
                                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                                    Plot of median kVp for each acquisition protocol.
                                {% else %}
                                    Plot of mean and median kVp for each acquisition protocol.
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAcquisitionMeankVpChart" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="chartAcquisitionMeankVp" style="height: auto; margin: 0 0"></div>

                            <div class="kvp-instructions">
                                <table style="border:none">
                                    <tr>
                                        <th colspan="3" style="padding: 0px; padding-right: 10px; vertical-align: top">Sorting options</th>
                                        <td rowspan="3" style="padding-left: 20px; vertical-align: top">
                                            {% if request.user.userprofile.plotHistograms %}
                                            Click on an individual column to show a histogram of data for that acquisition protocol.
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeankVp', 'avg_value', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending kVp">&uarr;kVp</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeankVp', 'total_counts', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending frequency">&uarr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeankVp', 'name', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort alphabetically">A&nbsp;to&nbsp;Z</a></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeankVp', 'avg_value', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending kVp">&darr;kVp</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeankVp', 'total_counts', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending frequency">&darr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeankVp', 'name', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort reverse alphabetically">Z&nbsp;to&nbsp;A</a></td>
                                    </tr>
                                </table>
                            </div>
                            <a onclick="enterFullScreen('collapseAcquisitionMeankVpChart', 'chartAcquisitionMeankVp')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                            <a onclick="$('#chartAcquisitionMeankVp').highcharts().zoomOut();" class="btn btn-default btn-sm" role="button">Reset zoom</a>
                            <div class="kvp-hist-norm-btn"><a onclick="normaliseHistograms('#chartAcquisitionMeankVp')" class="btn btn-default btn-sm" role="button">Toggle normalised histograms</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for mean kVp per acquisition chart -->

            <script>
                var plotDXAcquisitionMeankVp = true;
                $(window).resize(function() {
                    chartSetExportSize('chartAcquisitionMeankVp');
                    fitChartToDiv('chartAcquisitionMeankVp');
                });
                var tooltipFilterskVp = '{% for field in filter.form %}{% if field.name != 'acquisition_kvp_min' and field.name != 'acquisition_kvp_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
                norm_btn_class = '.kvp-hist-norm-btn';
                instr_class = '.kvp-instructions';
                render_div = 'chartAcquisitionMeankVp';
                val_label = 'kVp';
                val_units = 'kVp';
                cat_label = 'Acquisition protocol';
                cat_counter = 'exposures';
                field_name_min = 'acquisition_kvp_min';
                field_name_max = 'acquisition_kvp_max';
                field_multiplier = 1.0;
                field_cat_name = 'acquisition_protocol';
                tooltip_filters = tooltipFilterskVp;
                href_start = '/openrem/dx/?acquisitionhist=1&';

            {% if request.user.userprofile.plotAverageChoice == 'both' %}
                avg_label = 'Mean and median';
            {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
                avg_label = 'Mean';
            {% else %}
                avg_label = 'Median';
            {% endif %}

                def_title = avg_label + ' ' + val_label + ' per ' + cat_label.toLowerCase();
                result = chartAverageAndHistogram(def_title, norm_btn_class, instr_class, render_div, val_label,
                        val_units, avg_label, cat_label, cat_counter, field_name_min, field_name_max, field_multiplier,
                        field_cat_name, tooltip_filters, href_start);
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionMeanmAs %}
            <!-- HTML to include div container for mean mAs per acquisition chart -->
            <div class="panel-group" id="accordion4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion4" href="#collapseAcquisitionMeanmAsChart" onclick="setTimeout(function() {fitChartToDiv('chartAcquisitionMeanmAs');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Plot of mean mAs for each acquisition protocol.
                                {% elif request.user.userprofile.plotAverageChoice == 'median' %}
                                    Plot of median mAs for each acquisition protocol.
                                {% else %}
                                    Plot of mean and median mAs for each acquisition protocol.
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAcquisitionMeanmAsChart" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="chartAcquisitionMeanmAs" style="height: auto; margin: 0 0"></div>

                            <div class="mas-instructions">
                                <table style="border:none">
                                    <tr>
                                        <th colspan="3" style="padding: 0px; padding-right: 10px; vertical-align: top">Sorting options</th>
                                        <td rowspan="2" style="padding-left: 20px; vertical-align: top">
                                            {% if request.user.userprofile.plotHistograms %}
                                            Click on an individual column to show a histogram of data for that acquisition protocol.
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeanmAs', 'avg_value', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending mAs">&uarr;mAs</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeanmAs', 'total_counts', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by ascending frequency">&uarr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeanmAs', 'name', 1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort alphabetically">A&nbsp;to&nbsp;Z</a></td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeanmAs', 'avg_value', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending mAs">&darr;mAs</a></td>
                                        <td style="padding: 0px; padding-right: 10px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeanmAs', 'total_counts', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort by descending frequency">&darr;frequency</a></td>
                                        <td style="padding: 0px; vertical-align: top"><a onclick="anySeriesSort('#chartAcquisitionMeanmAs', 'name', -1, 0)" class="sorting-option" data-toggle="tooltip" title="Sort reverse alphabetically">Z&nbsp;to&nbsp;A</a></td>
                                    </tr>
                                </table>
                            </div>
                            <a onclick="enterFullScreen('collapseAcquisitionMeanmAsChart', 'chartAcquisitionMeanmAs')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                            <a onclick="$('#chartAcquisitionMeanmAs').highcharts().zoomOut();" class="btn btn-default btn-sm" role="button">Reset zoom</a>
                            <div class="mas-hist-norm-btn"><a onclick="normaliseHistograms('#chartAcquisitionMeanmAs')" class="btn btn-default btn-sm" role="button">Toggle normalised histograms</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for mean mAs per acquisition chart -->

            <script>
                var plotDXAcquisitionMeanmAs = true;
                $(window).resize(function() {
                    chartSetExportSize('chartAcquisitionMeanmAs');
                    fitChartToDiv('chartAcquisitionMeanmAs');
                });
                var tooltipFiltersmAs = '{% for field in filter.form %}{% if field.name != 'acquisition_mas_min' and field.name != 'acquisition_mas_max' and field.name != 'acquisition_protocol' and field.name != 'o' and field.value %}&{{ field.name }}={{ field.value }}{% endif %}{% endfor %}';
                norm_btn_class = '.mas-hist-norm-btn';
                instr_class = '.mas-instructions';
                render_div = 'chartAcquisitionMeanmAs';
                val_label = 'mAs';
                val_units = 'mAs';
                cat_label = 'Acquisition protocol';
                cat_counter = 'exposures';
                field_name_min = 'acquisition_mas_min';
                field_name_max = 'acquisition_mas_max';
                field_multiplier = 1000;
                field_cat_name = 'acquisition_protocol';
                tooltip_filters = tooltipFiltersmAs;
                href_start = '/openrem/dx/?acquisitionhist=1&';

            {% if request.user.userprofile.plotAverageChoice == 'both' %}
                avg_label = 'Mean and median';
            {% elif request.user.userprofile.plotAverageChoice == 'mean' %}
                avg_label = 'Mean';
            {% else %}
                avg_label = 'Median';
            {% endif %}

                def_title = avg_label + ' ' + val_label + ' per ' + cat_label.toLowerCase();
                result = chartAverageAndHistogram(def_title, norm_btn_class, instr_class, render_div, val_label,
                        val_units, avg_label, cat_label, cat_counter, field_name_min, field_name_max, field_multiplier,
                        field_cat_name, tooltip_filters, href_start);
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXStudyPerDayAndHour %}
            <!-- HTML to include div container for mean acquisition protocol DAP per week -->
            <div class="panel-group" id="accordion5">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion5" href="#collapseStudyWorkloadPieChart" onclick="setTimeout(function() {fitChartToDiv('piechartStudyWorkloadDIV');}, 0);">
                                Pie chart showing a breakdown of number of studies per weekday.
                            </a>
                        </h4>
                    </div>
                    <div id="collapseStudyWorkloadPieChart" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="piechartStudyWorkloadDIV" style="height: auto; margin: 0 0"></div>
                            <p>Click on a segment to be taken to a pie chart showing the breakdown per hour for that weekday.</p>
                            <a onclick="enterFullScreen('collapseStudyWorkloadPieChart', 'piechartStudyWorkloadDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for studies per week day pie chart -->

            <script>
                var plotDXStudyPerDayAndHour = true;
                $(window).resize(function() {
                    chartSetExportSize('piechartStudyWorkloadDIV');
                    fitChartToDiv('piechartStudyWorkloadDIV');
                });
                result = chartWorkload('piechartStudyWorkloadDIV', 'Studies');
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionMeankVpOverTime %}
            <!-- HTML to include div container for mean acquisition protocol kVp over time -->
            <div class="panel-group" id="accordion6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion6" href="#collapseAcquisitionMeankVpOverTime" onclick="setTimeout(function() {fitChartToDiv('AcquisitionMeankVpOverTimeDIV');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Line plot showing mean kVp of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                                {% else %}
                                    Line plot showing median kVp of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAcquisitionMeankVpOverTime" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="AcquisitionMeankVpOverTimeDIV" style="height: auto; margin: 0 0"></div>
                            <p>Click on the legend entries to show or hide the corresponding series. Click and drag the mouse over a date range to zoom in.</p>
                            <a onclick="enterFullScreen('collapseAcquisitionMeankVpOverTime', 'AcquisitionMeankVpOverTimeDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for mean acquisition protocol kVp over time -->

            <script>
                var plotDXAcquisitionMeankVpOverTime = true;
                $(window).resize(function() {
                    chartSetExportSize('AcquisitionMeankVpOverTimeDIV');
                    fitChartToDiv('AcquisitionMeankVpOverTimeDIV');
                });
            {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                result = chartAverageOverTime('AcquisitionMeankVpOverTimeDIV', 'kVp', '', 'Mean');
            {% else %}
                result = chartAverageOverTime('AcquisitionMeankVpOverTimeDIV', 'kVp', '', 'Median');
            {% endif %}
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionMeanmAsOverTime %}
            <!-- HTML to include div container for mean acquisition protocol mAs over time -->
            <div class="panel-group" id="accordion7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion7" href="#collapseAcquisitionMeanmAsOverTime" onclick="setTimeout(function() {fitChartToDiv('AcquisitionMeanmAsOverTimeDIV');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Line plot showing mean mAs of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                                {% else %}
                                    Line plot showing median mAs of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAcquisitionMeanmAsOverTime" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="AcquisitionMeanmAsOverTimeDIV" style="height: auto; margin: 0 0"></div>
                            <p>Click on the legend entries to show or hide the corresponding series. Click and drag the mouse over a date range to zoom in.</p>
                            <a onclick="enterFullScreen('collapseAcquisitionMeanmAsOverTime', 'AcquisitionMeanmAsOverTimeDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for mean acquisition protocol mAs over time -->

            <script>
                var plotDXAcquisitionMeanmAsOverTime = true;
                $(window).resize(function() {
                    chartSetExportSize('AcquisitionMeanmAsOverTimeDIV');
                    fitChartToDiv('AcquisitionMeanmAsOverTimeDIV');
                });
            {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                result = chartAverageOverTime('AcquisitionMeanmAsOverTimeDIV', 'mAs', '', 'Mean');
            {% else %}
                result = chartAverageOverTime('AcquisitionMeanmAsOverTimeDIV', 'mAs', '', 'Median');
            {% endif %}
            </script>
        {% endif %}

        {% if request.user.userprofile.plotDXAcquisitionMeanDAPOverTime %}
            <!-- HTML to include div container for mean acquisition protocol DAP per week -->
            <div class="panel-group" id="accordion8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion8" href="#collapseAcquisitionMeanDAPOverTime" onclick="setTimeout(function() {fitChartToDiv('AcquisitionMeanDAPOverTimeDIV');}, 0);">
                                {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                                    Line plot showing mean DAP of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                                {% else %}
                                    Line plot showing median DAP of each acquisition protocol over time ({{ request.user.userprofile.plotDXAcquisitionMeanDAPOverTimePeriod }}).
                                {% endif %}
                            </a>
                        </h4>
                    </div>
                    <div id="collapseAcquisitionMeanDAPOverTime" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div id="AcquisitionMeanDAPOverTimeDIV" style="height: auto; margin: 0 0"></div>
                            <p>Click on the legend entries to show or hide the corresponding series. Click and drag the mouse over a date range to zoom in.</p>
                            <a onclick="enterFullScreen('collapseAcquisitionMeanDAPOverTime', 'AcquisitionMeanDAPOverTimeDIV')" class="btn btn-default btn-sm" role="button">Toggle fullscreen</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of HTML to include div container for mean acquisition protocol DAP per week -->

            <script>
                var plotDXAcquisitionMeanDAPOverTime = true;
                $(window).resize(function() {
                    chartSetExportSize('AcquisitionMeanDAPOverTimeDIV');
                    fitChartToDiv('AcquisitionMeanDAPOverTimeDIV');
                });

            {% if request.user.userprofile.plotAverageChoice == 'mean' %}
                    result = chartAverageOverTime('AcquisitionMeanDAPOverTimeDIV', 'DAP', 'cGy.cm<sup>2</sup>', 'Mean');
            {% else %}
                    result = chartAverageOverTime('AcquisitionMeanDAPOverTimeDIV', 'DAP', 'cGy.cm<sup>2</sup>', 'Median');
            {% endif %}
            </script>
        {% endif %}

    {% endif %}
{% endblock %}
